@import "../../../styles.global";

:host {
  top: 0;
  position: sticky;
}

header {
    height: 4rem;
  border-bottom: 1px solid var(--color-border);
  @include glassyStyle();
  @include boldCenter();
}
