@import "../../../styles.global";

aside {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;

  > a {
    text-decoration: none;
    padding: 0.6rem;
    color: var(--color-text-primary);
    transition: all 0.2s ease-in-out;
    border-radius: 0.5rem;

    &:hover:not(.active-link) {
      background-color: rgba(var(--color-primary-rgb), 0.3);
    }
  }
  .active-link {
    background-color: rgba(var(--color-primary-rgb), 0.6);
    font-weight: 700;
  }

  min-width: 5rem;
  height: 100%;
  width: 20vw;
  // @include boldCenter();

  background-color: rgba(128, 128, 128, 0.3);
  backdrop-filter: blur(10px);
  border-right: 1px solid black;
}
