:host {
  display: flex;
  flex-direction: column;
  text-aling: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--color-surface);
  border-radius: 1rem;

  img {
    border-radius: 1rem;
    height: 15rem;
  }

  h3 {
    margin-top: 1rem;
  }
}
