article {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (max-width: 1200px) {
  article {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}
@media (max-width: 880px) {
  article {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}
@media (max-width: 600px) {
  article {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
}
